/* Styles intended only for the front.*/
html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {

	html {
		scroll-behavior: auto;
	}
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}


/*Fonts*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Mono', monospace;
	font-weight:700;
}
p, a, ul, li, ol, button, form, textarea, input {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}

/*Colors*/

:root {
  --base-0: #ffffff;
  --base-1: #ededed;
  --contrast-1: #3a3a3a;
  --contrast-2: #555555;
  --contrast-3: #bdbdbd;
  --accent-1: #0084cb;
  --accent-2: #7fc41c;
}

#app {
    width:100vw;
    max-width:1200px;
    margin:0 auto;
    padding:40px 20px;
    background:var(--base-0);
    height:100%;
}

/*Nav*/
nav {
    display:flex;
	position:fixed;
	align-items:center;
    width:100%;
    justify-content:space-between;
    padding:10px 20px;
    border-radius:5px;
	max-width:1200px;
	top:40px;
	left:50%;
	transform:translateX(-50%);
	z-index:99;
}
.nav-main,
.nav-cart {
	padding:25px;
	border:1px solid var(--contrast-3);
	border-radius:5px;
}
.nav-logos,
.nav-main,
.nav-menu,
.nav-cart {
	display:flex;
	justify-content: space-between;
	height:40px;
	line-height:40px;
	align-items:center;
}
nav img {
    height:30px;
    margin-right:15px;
}
nav svg {
	height:25px;
}
.nav-menu a {
	margin: 0 10px;
  text-decoration: none;
  font-size:16px;
}
.nav-menu button {
    background:var(--contrast-2);
    border:none;
    height:30px;
    width:30px;
    line-height:30px;
    border-radius:3px;
    margin-left:10px;
}
.nav-menu svg {
	fill:var(--base-0);
  cursor:pointer;
}
